* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sub-text {
  color: #d0d0d0;
}

.recharts-default-legend {
  font-size: 12px;
}
